{% extends "base.html" %} {% block title %} Explore {% endblock %} {% block
content%}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="user/scripts/explore.js"></script>
</head>

<h1>explore page</h1>

<button class="btn btn-primary" id="start">start</button>
<button class="btn btn-primary" id="stop">stop</button>
<button class="btn btn-primary" onclick="sendData()">send data</button>

<p class="fs-1" id="result"></p>

<p class="fs-1" id="output"></p>

{% endblock %}
